* { box-sizing: border-box;
}

:root{ 
    --caf-noir: #5A452Cff;
    --eerie-black: #1E1C11ff;
    --gunmetal: #16282Bff;
    --rich-black: #0D1A1Aff;
    --black: #000500ff;
    --paynes-gray: #616E79ff;
    --blue-munsell: #1C899Fff;
    --bistre: #342919ff;
    --beaver: #B2917Cff;
    --ash-gray: #ADBCBFff;
}

body {
    background-color: rgba(250, 235, 215, 0.281);
}

.box {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 40px;
    box-shadow: 10px 10px 5px var(--bistre);
    }

#red { background-color: var(--caf-noir);}

.clear { 
    clear: both;
}


main{
    background-color: rgba(155, 121, 76, 0.445);
    margin: auto;
    padding: 70px;
    width: 90%;
    max-width: 900px;
    background-image: url(kuvat/kuppi.png);
    position: relative;
    margin-bottom: 100px;
    /*background-attachment: fixed;*/
}

nav::after {
    content: "";
    clear: both;
    display: table;
}

.meista {
    height: 41px;
    margin-bottom: 3px;
    margin-top: -18px;
    font-family: 'Times New Roman', Times, serif;
}

.teksti {
    font-size: larger;
    text-shadow: 2px 2px 4px #ffffff;
}


.barista{
    size: 9px;
    float: left;
    margin-right: 29px;
    padding-bottom: 70px;
    width: 200px;
    height: 190px;
}

h2 {
    padding-left: 50px;
    padding-bottom: 60px;
}


footer {
    color: rgb(255, 255, 255);
    font-style: oblique;
    padding-bottom: 15px;
    padding-top: 15px;
    text-align: center;
    background-color: var(--caf-noir);
    margin: auto;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
    overflow: hidden;
}

li {
    float: right;
}


li a {
    display: block;
    color: rgb(255, 253, 253);
    text-align: center;
    padding: 24px 26px;
    text-decoration: none;
    padding-bottom: 30px;
}

li a:hover {
    background-color: #9f9a9b;
}


#mini1 {
    width: 260px;
    height: 100px;
    position: absolute;
    top: -25px;
    right: -25px;
 }

img.logo{
    position: absolute;
}




/*.joulu{
    /* Poistaa kokonaan */
    /* display: none */
    /*visibility: hidden*/
   /* height: 200px;
    width: 300px;
    display: block; 
    margin: auto;
    object-fit: none;
    background-color: blue;
}


.taustakuva {
    width: 400px;
    height: 400px;
    background-color: rgba(0, 0, 0, 0.749);
    margin: 40px auto 40px;
    background-image: url(kuvat/kuppi.png);
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
    /* pitää uvan paikalla background-attachment: fixed; */
}
/*
.overflow{
    background-color: aqua;
    width: 300px;
    height: 100px;
    overflow: scroll;
    margin: auto;
}

h3{
    margin: 50px;
}