* { box-sizing: border-box;
    
}

:root{ 
    --caf-noir: #5A452Cff;
    --eerie-black: #1E1C11ff;
    --gunmetal: #16282Bff;
    --rich-black: #0D1A1Aff;
    --black: #000500ff;
    --paynes-gray: #616E79ff;
    --blue-munsell: #1C899Fff;
    --bistre: #342919ff;
    --beaver: #B2917Cff;
    --ash-gray: #ADBCBFff;
}

body {
    background-color: rgba(250, 235, 215, 0.749);
    background-image: url(kuvat/neste2.png);
}

.box {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 40px;
    box-shadow: 10px 10px 5px var(--bistre);
    }

#red { background-color: var(--caf-noir);}

.clear { 
    clear: both;
}


main{
    background-color: rgba(155, 121, 76, 0.849);
    margin: auto;
    padding: 70px;
    width: 90%;
    max-width: 900px;
    position: relative;
    margin-bottom: 100px;
    /*background-attachment: fixed;*/
}


@media screen and (max-width: 600px){
    main{
        max-height: none;
        min-width: 300px;
    }
    
}

/*nav::after {
    content: "";
    clear: both;
    display: table;
}*/

.meista {
    height: 41px;
    margin-bottom: 3px;
    margin-top: -18px;
    font-family: 'Times New Roman', Times, serif;
}

.teksti {
    font-size: larger;
}


.iced{
    size: 24px;
    float: left;
    margin-right: 44px;
    padding-bottom: 90px;
    width: 100px;
    height: auto;
}

@media screen and (max-width: 100px) {
    main .iced{
        max-height: none;
        min-width: 300px;
    }
}


h2 {
    padding-left: 50px;
    padding-bottom: 60px;
}


footer {
    color: rgb(255, 255, 255);
    font-style: oblique;
    padding-bottom: 15px;
    padding-top: 15px;
    text-align: center;
    background-color: var(--caf-noir);
    margin: auto;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
    overflow: hidden;
    height: 120px;
    display: list-item;
}

li {
    float: right;
}


li a {
    display: block;
    color: rgb(255, 253, 253);
    text-align: center;
    padding: 33px 25px;
    text-decoration: none;
    padding-bottom: 30px;
    font-family: "Nerko One", cursive;
    font-weight: 300;
    font-style: normal;
}

li a:hover {
    color: #1E1C11ff;
}


.mini1 {
    width: 260px;
    height: 100px;
    position: absolute;
    top: -25px;
    right: -5px;
 }




.logo{
    padding-top: 33px;
    padding-left: 25px;
}

img.logo{
    position: absolute;
}

dialog{
    background-color: rgb(223, 218, 211);
    margin: auto;
    height: 490px;
    width: 335px;
    background-image: url(kuvat/coffee-gif-1.gif);
    background-size: 100%;
    background-repeat: no-repeat;
}


.fa-solid{
    color: pink;
    padding-top: 25px;
    padding-right: 400px;
    text-align: left;
    margin-right: 40px;
}

.kirja{
    display: flex;
    background-color: #f9f1f3;
    font-family: "Nerko One", cursive;
    font-style: normal;
    border-radius: 20px;
    margin-top: 49px;
} 



/*.kirja{
    margin-top: 9vh;
    margin-left: 31vh;

} */



.kirja:hover{
    background-color: rgba(108, 111, 111, 0.868);
}

.syotto {
    text-align: left;
    font-size: small;
    margin: auto;
}

.kiinni {
    margin: 0px;
    font-family: fangsong;
}



p{
    margin-right: 19px;
}

.reki{
    font-family: "Nerko One", cursive;
    font-weight: 200;
    font-style: normal;
    font-size: 47px;
    margin-left: 22px;
    margin-top: 80px;
    color: white;
    text-shadow: 3px 2px 2px black;
}


.laheta{
    margin-left: 24px;
    font-family: fangsong;
}


form::backdrop{
    backdrop-filter: var(--bistre);
}


@media screen and (min-width: 600px) {
    .kirja{
        max-width: 1000px;
    }
}

@media screen and (max-width: 2000px) {
    .sidebar {
        width: 350px; /* Sivupalkki tulee näkyviin */
    }

/* The sidebar menu */
.sidebar {
    height: 44%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0px;
    background-color: rgb(119 100 76 / 82%);
    overflow-x: hidden;
    padding-top: 42px;
    transition: 0.5s;
  }

  
  /* The sidebar links */
  .sidebar a {
    padding: 10px 15px;
    text-decoration: none;
    font-size: 25px;
    color: white;
    display: block;
    transition: 0.3s;
}
  /* When you mouse over the navigation links, change their color */
  .sidebar a:hover {
    background-color: rgba(127, 99, 62, 0.845);
}
  
  /* Position and style the close button (top right corner) */
  .sidebar .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    color: rgb(5, 5, 5);
  }
  
  /* The button used to open the sidebar */
  .openbtn {
    font-size: 20px;
    cursor: pointer;
    background-color: rgb(59, 47, 30);
    color: white;
    border: none;
    padding: 10px 15px;
    display: none; /* Piilotetaan isolla näytöllä */
}
  .openbtn:hover {
    background-color: #000000a9;
  }
  
  /* Style page content - use this if you want to push the page content to the right when you open the side navigation */
  #main {
    transition: margin-left .5s; /* If you want a transition effect */
    padding: 20px;
    padding: 0;
  }
  
  @media screen and (max-width: 700px) {
    nav {
        display: none; /* Piilotetaan nav pienillä näytöillä */
    }

    .openbtn {
        display: block; /* Näytetään "Avaa Sidebar" -nappi pienillä näytöillä */
    }
}

/* Piilota sivupalkki isolla näytöllä */

@media screen and (min-width: 800px) {
    .sidebar {
        display: none; /* Piilotetaan sidebar isolla näytöillä */
    }

    .openbtn {
        display: none; /* Piilotetaan myös avausnappi isolla näytöillä */
    }
}


.kirjaudu{
    display: flex;
    background-color: #f9f1f3;
    font-family: "Nerko One", cursive;
    font-style: normal;
    border-radius: 20px;
    margin-top: 6px;
    margin-left: 92px;
}


a{
display: block;
color: rgb(255, 253, 253);
text-align: center;
padding: 33px 25px;
text-decoration: none;
padding-bottom: 30px;
font-family: "Nerko One", cursive;
font-weight: 300;
font-style: normal;
}



/*.joulu{
    /* Poistaa kokonaan */
    /* display: none */
    /*visibility: hidden*/
   /* height: 200px;
    width: 300px;
    display: block; 
    margin: auto;
    object-fit: none;
    background-color: blue;
}


.taustakuva {
    width: 400px;
    height: 400px;
    background-color: rgba(0, 0, 0, 0.749);
    margin: 40px auto 40px;
    background-image: url(kuvat/kuppi.png);
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
    /* pitää uvan paikalla background-attachment: fixed; */
}
/*
.overflow{
    background-color: aqua;
    width: 300px;
    height: 100px;
    overflow: scroll;
    margin: auto;
}

h3{
    margin: 50px;
}
